<!DOCTYPE html>
<html>

<head> 
<title> Dice roll </title>

</head>

<body>

<h1>1d20</h1>

<% if @roll_one == 1 %>

<p style="color: red"> <%=@output %> </p>
<% else %>

<p><%= @output %></p>
<% end %>





</body>

</html>
